


@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    height: 100vh;
}

.heading{
    font-size: 25px;
    color: white;
    font-family: "Roboto";
    font-weight: 600;
}
.size{
    font-size: 20px;
}

.description{
    font-size: 11px;
    font-family: "Roboto";
    color: white;
}

.image{
    height: 180px;
    width: 350px;
}


.button{
    height: 25px;
    width: 100px;
    background-color: #007bff;
    border-radius: 8px;
    color: white;
    font-family: "Roboto";
    border-width: 0px;
    border-style: none;
    cursor: pointer;
    outline: none;
    margin-right: 15px;
}

.button-color{
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}