



@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 120px;
}
.suggestions-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.google-logo-size{
    height: 80px;
    width: 240px;
    margin-bottom: 10px;
}
.container-2{
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.search-icon{
    height: 20px;
    width: 20px;
    margin-top: 6px;
}

.search-input{
    width: 100%;
    border-style: none;
    outline: none;
    font-family: "Roboto";
    font-size: 17px;
    padding: 5px;
}


