
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.bg-container{
    height: 100vh;
    background-image: linear-gradient(to right, #f9d423, #e2a139);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-container-2{
    height: 520px;
    width: 370px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: #a35200;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 35px;
}

.description-text{
    font-family: "Roboto";
    font-size: 18px;
    color: #334155;
    font-weight: 600;
}

.image-size{
    height: 200px;
    width: 200px;
}

.button{
    height: 30px;
    width: 110px;
    border-radius: 5px;
    background-color: #f9d423;
    color: #e2a139;
    border-width: 0px;
    outline: none;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 17px;
    margin: 15px;
}

.result-container{
    display: flex;
    flex-direction: row;
}

.result-text{
    font-size: 18px;
    font-family: "Roboto";
    color: #475569;
    font-weight: 600;
    margin-right: 50px;
}